<!DOCTYPE html>
<html>
<head>
    <title>Super Hero Shopping Cart</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <!--<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>-->
	<script src="app.js"></script>
	<style>
		body {
            background-color: red;
            color: white;
		}
        .buybutton{
            background-color: aliceblue;
            border-radius: 5px;
            cursor: pointer;
        }
        .deletebutton{
            background-color: rosybrown;
            border-radius: 5px;
            cursor: pointer;
        }
	</style>
</head>
<body ng-app="PowersShop" ng-controller="MainCtrl">
	<h1 style="padding-left: 80px;">Super Hero Shopping Cart</h1>
	<table style="padding-left: 100px;">
        <tr>
            <td style="vertical-align: top;">
                <table style="border-collapse: collapse; background-color: white; color: black; width: 500px;">
                    <tr ng-repeat="power in powerlist">
                        <td style="border-bottom: 1px black solid;"><img width="40px" height="40px" src="{{power.imgurl}}"/>{{power.thename}}</td><td align="right" style="border-bottom: 1px black solid; padding-right: 5px">${{power.price}}&nbsp;&nbsp;&nbsp;<button ng-click="buy(power)" class="buybutton">Buy</button></td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align: top; color: black;" align="right">
                <figure>
                    <img width="30%" src="https://d30y9cdsu7xlg0.cloudfront.net/png/16757-200.png"/>
                    <figcaption>{{cart.length}}</figcaption>
                </figure>
                <!--&nbsp;&nbsp;&nbsp;<span style="color: black;">{{cart.length}}</span>-->
            </td>
            <td style="vertical-align: top;">
                <table style="border-collapse: collapse; background-color: white; color: black; width: 500px;">
                    <tr ng-repeat="power in cart track by $index">
                        <td style="border-bottom: 1px black solid;"><img width="40px" height="40px" src="{{power.imgurl}}"/>{{power.thename}}</td><td align="right" style="border-bottom: 1px black solid; padding-right: 5px">${{power.price}}&nbsp;&nbsp;&nbsp;</span><button ng-click="delete(power)" class="deletebutton">Delete</button></td>
                    </tr>
                    <tr ng-if="cart.length">
                        <td style="border-bottom: 1px black solid;">${{totalCost()}}</td><td align="right" style="border-bottom: 1px black solid; padding-right: 5px"><button ng-click="checkout()" class="buybutton">Checkout</button></td>
                    </tr>
                </table>
                <span ng-if="checkoutb" style="color: black;">Don't worry we won't steal your money :)</span>
            </td>
        </tr>
    </table>
</body>



</html>

